* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* BODY */

body {
    font-family: 'ZCOOL KuaiLe', cursive;
    background-image: url(../img/bg-3.1.jpg);
    background-size: cover;
    
}
.flex-cont {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 200px;
    justify-content: space-around;
}
.user-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 200px;
    margin-top: 100px;
    vertical-align: middle;
    width: 450px;
    height: 200px;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 10px;
}
label {
    font-size: 2rem;
    color:#356604;
    padding-top: 10px;
}
input {
    margin-top: 20px;
    padding: 10px 20px;
    text-align: center;
    border: 1px solid dodgerblue;
    width: 300px;
}
input:hover {
    border: 1px solid fuchsia;
}
button {
    padding: 5px 15px;
    margin-top: 20px;
    border-radius: 5px;
    color: dodgerblue;
    border: 1px solid dodgerblue;
}
button:hover {
    color: fuchsia;
    border: 1px solid fuchsia;
}
#alert {
    margin: 20px 0;
    font-weight: bold;
}
#wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 450px;
    margin-right: auto;
    margin-left: 330px;
}
.square {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    background-image: url("../img/Sand.jpg");
    background-size: 100%;
    border: 1px solid #fff;
    color: #fff;
    font-size: 1.7rem; 
}
.square.clicked {
    color: rgba(0, 0, 0, 1);
}
.square.bomb {
    background-image: url("../img/4872522.jpg");
    background-size: cover;
    background-position: center;
    font-size: 0rem;
}